@using OSS.BlazorUI.Pages.ShiftsEditUI.Actions;
@using OSS.BlazorUI.Pages.ShiftsEditUI.Components;
@using OSS.BlazorUI.Pages.ShiftsEditUI.Store;

@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ShiftsEditUiState> AppState

@foreach (ShiftsGridRow shiftRowState in AppState.Value.ShiftsInGrid)
{
    <div class="row ml-md-5 mr-md-5">
        <div class="shift_date_display col-md-auto col-sm-12">
            <span class="h6">@shiftRowState.ShiftsDate.ToString("dd-MMM-yyyy")</span><br />
            <span class="h6">@shiftRowState.ShiftsDate.ToString("dddd")</span>
        </div>
        <div class="col">
            <div class="row">
                @foreach (var shift in shiftRowState.Shifts)
                {
                    <ShiftCell Shift=@shift />
                }
            </div>
        </div>
    </div>
}

<AddShiftEmployeeModal />

<EditShiftParticipationModal />

<AddParticipationsFromGrpModal />

<ShiftCommentsEditModal />

@code {
}
