<Fluxor.Blazor.Web.StoreInitializer />

@using OSS.BlazorUI.Pages.ShiftsEditUI.Actions;
@using OSS.BlazorUI.Pages.ShiftsEditUI.Components
@using OSS.BlazorUI.Pages.ShiftsEditUI.Store;

@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ShiftsEditUiState> AppState


<h3>Edit Shifts</h3>
<div class="datePickerDiv">
    <span>Start Time </span>
    <input type="date" @bind="StartDate" />
</div>
<div style="margin-left:0.5em" class="datePickerDiv">
    <span>End Time </span>
    <input type="date" @bind="EndDate" />
</div>
<button @onclick="OnLoadBtnClicked" class="btn btn-success btn-sm btn-icon-split loadBtn">
    <span class="icon text-white-50">
        <i class="fas fa-sync"></i>
    </span>
    <span class="text">Load</span>
</button>
<br />
<br />
<ShiftCellsMatrix />


@code {

    public DateTime StartDate
    {
        get => AppState.Value.StartDate.ToDateTime(new TimeOnly(0));
        set => Dispatcher.Dispatch(new SetStartDateAction(DateOnly.FromDateTime(value)));
    }

    public DateTime EndDate
    {
        get => AppState.Value.EndDate.ToDateTime(new TimeOnly(0));
        set => Dispatcher.Dispatch(new SetEndDateAction(DateOnly.FromDateTime(value)));
    }

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new LoadEmployeesAction());
        Dispatcher.Dispatch(new LoadShiftTypesAction());
        Dispatcher.Dispatch(new LoadShiftParticipationTypesAction());
        Dispatcher.Dispatch(new LoadShiftGroupsAction());
        // Dispatcher.Dispatch(new LoadShiftsAction(AppState.Value.StartDate, AppState.Value.EndDate));
        base.OnInitialized();
    }

    public void OnLoadBtnClicked()
    {
        Dispatcher.Dispatch(new LoadShiftsAction(AppState.Value.StartDate, AppState.Value.EndDate));
    }

    private void OnStartDateChanged(ChangeEventArgs args)
    {
        Dispatcher.Dispatch(new SetStartDateAction((DateOnly)(args.Value ?? DateOnly.FromDateTime(DateTime.Now))));
    }

    private void OnEndDateChanged(ChangeEventArgs args)
    {
        Dispatcher.Dispatch(new SetEndDateAction((DateOnly)(args.Value ?? DateOnly.FromDateTime(DateTime.Now))));
    }
}
