@page
@model OSS.Web.Pages.Shifts.AutoCreateModel
@{
    ViewData["Title"] = "AutoCreate";
}

<h2>Automated Shifts Initialization</h2>
<div style="font-size:small">
    <span>To auto initialize the shifts, please create the shifts correctly on the Start Date.</span><br />
    <span>The automation will create shifts as the saved shift sequence starting from the start date till the end date.</span><br />
    <span>You can enter the start and end dates in the date fields mentioned below</span><br /><br />
</div>
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table>
            <tr>
                <td>Start Date</td>
                <td><input asp-for="AutoCreateShiftsCommand.StartDate" class="form-control" type="date" /></td>
            </tr>
            <tr>
                <td>End Date</td>
                <td><input asp-for="AutoCreateShiftsCommand.EndDate" class="form-control" type="date" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Initialize Shifts" class="btn btn-primary" style="margin-top:12px" /></td>
            </tr>
        </table>
    </form>
</div>

