@using Microsoft.AspNetCore.Identity;
@using OSS.Domain.Entities;
@using OSS.App.Security;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shifts
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-page="/Shifts/AutoCreate">AutoCreate</a>
                <a class="dropdown-item" asp-page="/Shifts/Edit">Edit</a>
                <a class="dropdown-item" asp-page="/Shifts/Roster">Roster</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-controller="Users" asp-action="Index">Users</a>
                <a class="dropdown-item" asp-page="/ShiftGroups/Index">ShiftGroups</a>
                <a class="dropdown-item" asp-page="/Genders/Index">Genders</a>
                <a class="dropdown-item" asp-page="/ShiftRoles/Index">ShiftRoles</a>
                <a class="dropdown-item" asp-page="/ShiftTypes/Index">ShiftTypes</a>
                <a class="dropdown-item" asp-page="/ShiftCycleItems/Index">ShiftCycle</a>
                <a class="dropdown-item" asp-page="/ShiftParticipationTypes/Index">ShiftParticipationTypes</a>
            </div>
        </li>
    }
    else if (User.IsInRole(SecurityConstants.GuestRoleString))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Shifts/Calendar">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Shifts/Roster">Roster</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/LeaveRequests/Index">LeaveRequests</a>
    </li>
}