@using Microsoft.AspNetCore.Identity;
@using OSS.Domain.Entities;
@using OSS.App.Security;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Genders/Index">Genders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/ShiftRoles/Index">ShiftRoles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/ShiftGroups/Index">ShiftGroups</a>
        </li>

    }
}