.part_add_btn, .grp_add_btn, .rem_all_part_btn {
    border: none;
    padding: 0 !important;
    /*border is optional*/
}

.part_del_btn {
    border: none;
}

.shift_date_display {
    margin: 0;
    padding: 2px;
}

.shift_cell {
    min-height: 150px;
}

.general_shift_part {
    color: blue;
}

.absence_shift_part {
    text-decoration: line-through;
}
