
@{
    ViewData["Title"] = "Shifts";
    Layout = "_Layout";
}
<div><a asp-area="" asp-controller="Shifts" asp-action="AutoCreate">Auto Initialize</a></div>

<div id="root"></div>

@section Scripts{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="@Url.Content("~/js/shifts_ui_app/dist/main.js")"></script>
}