
@{
    ViewData["Title"] = "Shifts";
    Layout = "_Layout";
}
<div><a asp-area="" asp-controller="Shifts" asp-action="AutoCreate">Auto Initialize</a></div>

<div id="root"></div>

@section Scripts{
    <script src="@Url.Content("~/js/shifts_ui_app/dist/main.js")"></script>
}